#ant3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-content: center;
    gap: 2rem;
}

#ant3 > *{
    width: 100%;
    border-radius: 1rem;
    text-align: center;
    display: flex;
}

#ant3 picture img{
    max-width: 100%;
}

#ant3 > *:nth-child(1){
    grid-column: span 2;
}

#ant3 > *:nth-child(2){
    grid-column: span 2;
}

#ant3 > *:nth-child(3){
    border: 0.3rem solid black;
}

#ant3 > *:nth-child(4){
    max-width: 5rem;
}

#ant3 > *:nth-child(5){
    border: 0.3rem solid black;
    border-top: 0.6rem solid black;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    grid-column: span 2;
}

#detail1{
        padding: 2rem;
    }

@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

main{
    padding: 2rem;
}

@media only screen and (max-width: 768px) {
    main{
        padding: 0 0.5rem;
    }

    #detail12{
        padding: 0;
    }

    #detail1{
        padding: 1rem;
    }
}

#detail2{
    background-color: #1c1c1c;
    border-radius: 2rem;
    color: white;
    overflow: hidden;
    max-width: 110rem;
    margin: auto;
}

#detail2 *::selection{
    background: #e4cb16;
    color: #1c1c1c;
}

#detail2 h2, #detail2 h3{
    font-family: "Castoro", serif;
    font-weight: 400;
}

#detail2 h2 i{
    letter-spacing: -0.3rem;
}

#detail2 p{
    max-width: 45rem;
}

#ant1{
    background-image: url("../design/artbyant/images/background.jpg");
    background-size: cover;
    background-position: top;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
    border-radius: 2rem;
}

#ant1 h2{
    mix-blend-mode: difference;
    color: white;
    font-size: clamp(4rem, 10.5vw, 7rem);
    text-align: center;
    line-height: 0.9;
}

#ant1 p{
    mix-blend-mode: difference;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

#ant1 a{
    text-transform: uppercase;
    text-decoration: none;
    color: #1c1c1c;
    background-color: #e4cb16;
    padding: 1rem;
    border-radius: 50rem;
    transform: translateY(50%);
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 6rem;
    white-space: pre;
}

#ant1 a:hover{
    transform: translateY(50%) scale(1.05);
}

#ant2{
    padding: 4rem 2rem;
}

#ant2 img{
    width: 30rem;
}

@media only screen and (max-width: 768px) {
    #ant1 a{
        right: 50%;
        transform: translate(50%, 50%) scale(1.05);
    }
}