/* #detail2 {
    column-count: 3;
    column-gap: 1em;
}

#detail2 img {
    width: 100%;
    margin-bottom: 1em;
    break-inside: avoid;
    border-radius: 1rem;
    background: radial-gradient(at left top, #6C837B, #20343e);
}

@media only screen and (max-width: 950px) {
    #detail2 {
        column-count: 2;
    }
}

@media only screen and (max-width: 768px) {
    #detail2 {
        column-count: 1;
    }
} */

#detail2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    justify-content: center;
    gap: 2rem;
}

#detail2 > *{
    width: 100%;
    border-radius: 1rem;
    text-align: center;
    display: flex;
}

#detail2 picture img{
    max-width: 100%;
}

#detail2 > *:nth-child(1){
    grid-column: span 2;
}

#detail2 > *:nth-child(2){
    grid-column: span 2;
}

#detail2 > *:nth-child(3){
    border: 0.3rem solid black;
}

#detail2 > *:nth-child(4){
    max-width: 5rem;
}

#detail2 > *:nth-child(5){
    border: 0.3rem solid black;
    border-top: 0.6rem solid black;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    grid-column: span 2;
}