@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@125,900&family=Atkinson+Hyperlegible&family=Bebas+Neue&display=swap');

:root {
    --color-ffblack: #101010;
    --color-ffpink: #ee2852;
    --color-ffmint: #cffcff;
    --color-ffblue: #1256d0;
    --color-ffwhite: #ffffff;
}

main{
    margin: auto;
    padding: 2rem;
}

@media only screen and (max-width: 768px) {
    main{
        padding: 1rem;
    }
}

#detail12{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    overflow: hidden;
    padding: 0.5rem;
    gap: 1rem;
}

#detail12 div{
    border-radius: 2rem;
    background-color: var(--color-ffblack);
    color: var(--color-ffwhite);
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
}

#detail2{
    color: var(--color-ffwhite);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    height: fit-content;
}

#detail2 > img{
    width: 40rem;
    max-width: 40%;
    border-radius: 2rem;
}

#detail2 div{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

#detail2 h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 5.5rem;
    color: #cffcff;
    background-image: linear-gradient(135deg, var(--color-ffmint) 0%, var(--color-ffblue) 50%, var(--color-ffpink) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    line-height: 0.9;
}

#detail2 p{
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-variation-settings: "wdth" 125;
    text-transform: uppercase;
    margin: 0;
}

#detail2 div img{
    filter: none;
    width: 8rem;
    margin-top: auto;
}

@media only screen and (max-width: 768px) {
    #detail2 > img{
        max-width: 95%;
    }

    #detail2{
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #detail2 div img{
        display: none;
    }

    #detail2 h2{
        font-size: 4rem;
    }
}

#detail3{
    color: var(--color-ffwhite);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#detail3 img{
    border-radius: 1rem;
    width: 100%;
}

#detail3 figure{
    width: 40rem;
    max-width: 40%;
}

#detail3 p{
    max-width: 35rem;
}

@media only screen and (max-width: 768px) {
    #detail3{
        flex-direction: column;
        gap: 0.5rem;
    }

    #detail3 figure{
        min-width: 20rem;
        max-width: 95%;
    }
}

#detail4{
    padding: 2rem;
    display: grid;
    grid-template: auto auto / auto fit-content(35rem);
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    #detail4{
        grid-template: auto / auto;
    }
}

#detail4 img{
    filter: none;
    width: 100%;
    max-width: 20rem;
    justify-self: end;
}

#detail5{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#detail5 div {
    width: 100%;
    max-width: 65rem;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 1rem;
}

#detail5 img{
    width: 100%;
    border-radius: 1rem;
}

@media only screen and (max-width: 768px) {

}