/* Website Made by Bence (All rights reserved © 2018 Bence Barens) */

@import url("https://use.typekit.net/zli8vwf.css");
@font-face{font-family: "Inter"; src: url(inter.ttf) format("truetype"); font-weight: 100 900; font-style: normal; font-display: swap;}

:root {
    --color-primary: rgb(247 244 237);
    --color-secondary: rgb(32 52 62);
    --color-tertiary: rgb(108 131 123);

    --color-on-primary: rgb(32 52 62);
    --color-on-secondary: rgb(247 244 237);
    --color-on-tertiary: rgb(247 244 237);

    --color-white: rgb(247 244 237);
    --color-black: rgb(32 52 62); 

    /* --cursor: default;
    --cursor-hover: pointer;
    --cursor-grab: grab;
    --cursor-grabbing: grabbing;
    --cursor-text: text; */

    --cursor: url('data:image/svg+xml,<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23a)"><rect x="6.2" y="6.2" width="37" height="37" rx="18.5" stroke="%23f7f4ed" stroke-width="3"/></g><defs><filter id="a" x="0" y="0" width="50.4" height="50.4" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feMorphology radius=".2" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_81_2"/><feOffset dx=".5" dy=".5"/><feGaussianBlur stdDeviation="2.5"/><feColorMatrix values="0 0 0 0 0.12549 0 0 0 0 0.203922 0 0 0 0 0.243137 0 0 0 1 0"/><feBlend in2="BackgroundImageFix" result="effect1_dropShadow_81_2"/><feBlend in="SourceGraphic" in2="effect1_dropShadow_81_2" result="shape"/></filter></defs></svg>') 25.5 25.5, auto;
    --cursor-hover: url('data:image/svg+xml,<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23a)"><g clip-path="url(%23b)"><rect x="4.7" y="4.7" width="40" height="40" rx="20" fill="%2320343e"/><path d="M16.169 16.865a1.9 1.9 0 0 1 2.687 0 7.75 7.75 0 0 0 10.963 0 1.9 1.9 0 0 1 1.592-.538 1.9 1.9 0 0 1 1.208 3.238l-.04.039a7.75 7.75 0 0 0 .026 10.936 1.9 1.9 0 0 1-2.687 2.687 11.5 11.5 0 0 1-3.37-7.592l-16.93 16.93a1.9 1.9 0 0 1-2.687-2.687l16.954-16.954a11.5 11.5 0 0 1-7.716-3.372 1.9 1.9 0 0 1 0-2.687" fill="%23f7f4ed"/></g><rect x="5.7" y="5.7" width="38" height="38" rx="19" stroke="%23f7f4ed" stroke-width="2"/></g><defs><clipPath id="b"><rect x="4.7" y="4.7" width="40" height="40" rx="20" fill="%23fff"/></clipPath><filter id="a" x="0" y="0" width="50.4" height="50.4" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feMorphology radius=".2" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_79_20"/><feOffset dx=".5" dy=".5"/><feGaussianBlur stdDeviation="2.5"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix values="0 0 0 0 0.12549 0 0 0 0 0.203922 0 0 0 0 0.243137 0 0 0 1 0"/><feBlend in2="BackgroundImageFix" result="effect1_dropShadow_79_20"/><feBlend in="SourceGraphic" in2="effect1_dropShadow_79_20" result="shape"/></filter></defs></svg>') 25.5 25.5, auto;
    --cursor-grab: url('data:image/svg+xml,<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23a)"><rect x="4.7" y="4.7" width="40" height="40" rx="20" fill="%2320343e"/><rect x="5.7" y="5.7" width="38" height="38" rx="19" stroke="%23f7f4ed" stroke-width="2"/><path d="M30.743 34.5a1.5 1.5 0 0 1-1.5 1.5 3.324 3.324 0 0 0-3.321 3.213l.003.138a1.5 1.5 0 0 1-2.97.293 1.5 1.5 0 0 1-.036-.319q0-.057.003-.112a3.324 3.324 0 0 0-3.321-3.186 1.5 1.5 0 0 1 0-3c1.22 0 2.358.346 3.324.944V16.118q.001-.06.007-.116c-.968.6-2.109.949-3.331.949a1.5 1.5 0 0 1 0-3 3.324 3.324 0 0 0 3.322-3.213l-.004-.138a1.5 1.5 0 0 1 2.972-.295q.033.155.034.322l-.002.112a3.323 3.323 0 0 0 3.32 3.186 1.5 1.5 0 0 1 0 3 6.3 6.3 0 0 1-3.325-.946q.007.069.007.139v17.824a6.3 6.3 0 0 1 3.318-.941 1.5 1.5 0 0 1 1.5 1.5" fill="%23f7f4ed"/><path d="M14.897 31.297a1.5 1.5 0 0 1-1.5-1.5 3.324 3.324 0 0 0-3.212-3.321l-.139.003a1.5 1.5 0 0 1-.293-2.97q.155-.035.32-.036l.112.003a3.324 3.324 0 0 0 3.186-3.321 1.5 1.5 0 0 1 3 0c0 1.22-.347 2.358-.945 3.324H33.28q.059.001.116.007a6.3 6.3 0 0 1-.95-3.331 1.5 1.5 0 0 1 3 0 3.324 3.324 0 0 0 3.214 3.322l.137-.004a1.5 1.5 0 0 1 .296 2.972 1.5 1.5 0 0 1-.322.034l-.112-.002a3.323 3.323 0 0 0-3.186 3.32 1.5 1.5 0 0 1-3 0c0-1.22.347-2.359.946-3.325a2 2 0 0 1-.14.007H15.457c.596.965.941 2.1.941 3.318a1.5 1.5 0 0 1-1.5 1.5" fill="%23f7f4ed"/></g><defs><filter id="a" x="0" y="0" width="50.4" height="50.4" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feMorphology radius=".2" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_81_16"/><feOffset dx=".5" dy=".5"/><feGaussianBlur stdDeviation="2.5"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix values="0 0 0 0 0.12549 0 0 0 0 0.203922 0 0 0 0 0.243137 0 0 0 1 0"/><feBlend in2="BackgroundImageFix" result="effect1_dropShadow_81_16"/><feBlend in="SourceGraphic" in2="effect1_dropShadow_81_16" result="shape"/></filter></defs></svg>') 25.5 25.5, auto;
    --cursor-text: url('data:image/svg+xml,<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23a)"><rect x="4.7" y="4.7" width="40" height="40" rx="20" fill="%2320343e"/><rect x="5.7" y="5.7" width="38" height="38" rx="19" stroke="%23f7f4ed" stroke-width="2"/><path d="M17.7 13.53a1.9 1.9 0 0 1 1.9-1.9c1.898 0 3.61.788 4.834 2.052a6.7 6.7 0 0 1 4.81-2.026 1.9 1.9 0 0 1 0 3.8 2.923 2.923 0 0 0-2.922 2.798l.003.1q0 .06-.006.117v12.668q.005.057.006.116 0 .051-.003.101a2.924 2.924 0 0 0 2.921 2.797 1.9 1.9 0 0 1 0 3.8 6.7 6.7 0 0 1-4.81-2.026 6.7 6.7 0 0 1-4.832 2.052 1.9 1.9 0 0 1 0-3.8 2.923 2.923 0 0 0 2.918-2.747V18.381q0-.064.003-.127A2.92 2.92 0 0 0 19.6 15.43a1.9 1.9 0 0 1-1.9-1.9" fill="%23f7f4ed"/></g><defs><filter id="a" x="0" y="0" width="50.4" height="50.4" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feMorphology radius=".2" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_81_7"/><feOffset dx=".5" dy=".5"/><feGaussianBlur stdDeviation="2.5"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix values="0 0 0 0 0.12549 0 0 0 0 0.203922 0 0 0 0 0.243137 0 0 0 1 0"/><feBlend in2="BackgroundImageFix" result="effect1_dropShadow_81_7"/><feBlend in="SourceGraphic" in2="effect1_dropShadow_81_7" result="shape"/></filter></defs></svg>') 25.5 25.5, auto;
}

@media (prefers-color-scheme: dark) {
    :root{
        --color-primary: rgb(32 52 62);
        --color-secondary: rgb(247 244 237);
        --color-tertiary: rgb(108 131 123);

        --color-on-primary: rgb(247 244 237);
        --color-on-secondary: rgb(32 52 62);
        --color-on-tertiary: rgb(247 244 237);
    }
}

@media (prefers-color-scheme: light) {
    img[src$=".svg"] {
        filter: brightness(0) saturate(100%) invert(16%) sepia(16%) saturate(1254%) hue-rotate(156deg) brightness(95%) contrast(90%);
    }
}

body{
    width: 100%;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    color:var(--color-on-primary);
    margin: 0;
    cursor: var(--cursor);
    background-color: var(--color-primary);
}

body::after{
    content: "";
    position: fixed;
    inset: 0;
    z-index: -5;
    background-image: radial-gradient(var(--color-on-primary) 0.05rem, transparent 0.05rem);
    background-size: 2rem 2rem;
    background-repeat: repeat;
    opacity: 0.3;
    pointer-events: none;
    background-position: 0 var(--bg-offset);
}

@media (prefers-reduced-motion: reduce){
    body::after{
        background-position: 0;
    }
}

.blob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 40rem;
    border-radius: 100%;
    background-color: var(--color-tertiary);
    opacity: 0.2;
    filter: blur(10rem);
    transition: all 450ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 50vw;
    top: 50vh;
    transform: translate(calc(-50%), -50%);
    z-index: -10;
}

@media only screen and (max-width: 768px), (prefers-color-scheme: light), (prefers-reduced-motion: reduce){
    .blob{
        display: none;
    }
}

* {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

p{
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6{
    font-family: moret, serif;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
    margin:0;
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2.2rem;
    }
}

a{
    color: inherit;
    text-decoration-color: var(--color-tertiary);
    text-decoration-thickness: 0.2rem;
    transition: 200ms;
}

a:hover{
    color: inherit;
    text-decoration-color: inherit;
    text-decoration-thickness: 0.2rem;
    cursor: var(--cursor-hover);
}

a:visited, a:active{
    color: inherit;
}

main{
    min-height: calc(80vh + 10rem);
}

button{
    background: none;
    cursor: var(--cursor-hover);
    color: inherit;
}

.button{
    font-family: moret, serif;
    background-color: var(--color-tertiary);
    color: var(--color-on-tertiary) !important;
    font-size: 2rem;
    border-radius: 50rem;
    padding: 1rem 2rem;
    margin: auto;
    display: block;
    width: fit-content;
    transition: all 200ms ease;
    border: none;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
}

.button:hover{
    padding: 1rem 2.5rem;
    color: var(--color-on-tertiary);
    text-decoration-color: var(--color-on-tertiary);
}

::selection {
    background: var(--color-tertiary);
    color: var(--color-on-tertiary);
    text-shadow: var(--color-on-tertiary) 0 0 0.8rem;
}

footer ::selection {
    background: var(--color-primary);
    color: var(--color-on-primary);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (prefers-reduced-motion: no-preference) {
    main {
        animation: fadeIn 0.6s ease;
    }
}

/* HEADER ------------------------------------------------------------------------------------------- */

header ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

header a{
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 5rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

header nav img{
    position:initial;
}

header nav a{
    position: relative;
}

header nav a::after{
    content: "";
    position: absolute;
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: all 200ms ease;
}

header nav a:hover::after, header nav a:active::after{
    width: 60%;
    border-radius: 2rem;
    height: .2rem;
    background-color: var(--color-on-primary);
}

header .currentPage::after {
    background-color: var(--color-on-primary);
}

@media screen and (max-width: 768px) {
    header{
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: var(--color-secondary);
        color: var(--color-on-secondary);
        padding: 0.5rem;
        bottom: 0.8rem;
        border-radius: 50rem;
        z-index: 10;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0 0 1.5rem;
    }

    header nav{
        transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
    }

    header .currentPage{
        overflow: visible !important;
    }
    
    header .currentPage::after{
        background-color: var(--color-on-secondary);
        bottom: -0.3rem;
        position: absolute;
        opacity: 1;
    }

    header nav ul li:first-child{
        display: none;
    }

    header nav ul{
        gap: 0;
        width: max-content;
    }

    header nav a{
        padding: 0.4rem 0.8rem;
        display: block;
        opacity: 1;
        overflow: hidden;
    }

    header.collapsed nav a, header.collapsed div{
        width: 0;
        opacity: 0;
        padding: 0;
        pointer-events: none;
        overflow: hidden;
        color: var(--color-secondary);
    }

    header.collapsed nav .currentPage{
        width: auto;
        opacity: 1;
        padding: 0 0.6rem;
        color: var(--color-on-secondary);
    }

    header.collapsed nav .currentPage::after{
        opacity: 0;
    }

    header *{
        transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

/* SCROLLBAR--------------------------------- */

*::-webkit-scrollbar {
    height: 10px;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: var(--color-primary);
}

*::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background-color: var(--color-tertiary);
    border: 0.3rem solid var(--color-primary);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-secondary);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--color-secondary);
}
  

/*FOOTER-------------------------------------------------------------------------------------------*/

footer{
    width: 100%;
    position: relative;
}

footer>div{
    background-color: var(--color-tertiary);
    color:var(--color-on-tertiary);
    padding: 2rem;
    margin-top: 5rem;
    margin-right: 4rem;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    border-top-right-radius: 1rem;
}

footer div div{
    margin-right: 4rem;
}

footer div img{
    height: 1.5rem;
    margin-right: 1rem;
}

footer h2{
    font-size: 2.5rem;
}

#footer1 h2:first-child{
    color:var(--color-black);
}

footer button{
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(-90deg) translateX(100%);
    transform-origin:  right bottom;
    backface-visibility: hidden;
    padding:1rem;
    height: 4rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: left;
    color:var(--color-on-primary);
}

footer button img{
    width: 2rem;
    margin-left: .5rem;
    margin-top: .1rem;
}

@media only screen and (max-width: 768px) {
    footer{
        padding-bottom: 3rem;
        background-color: var(--color-tertiary);
    }
    
    footer>div{
        border-top-right-radius: 0;
        margin-right: 0;
    }

    footer div img{
        display: none;
    }

    footer h2{
        font-size: 1.8rem;
    }

    footer::before {
        content: "";
        position:absolute;
        top: -8rem;
        left: 0;
        width: 100%;
        height: 8rem;
        background-color: transparent;
        border-radius: 0 0 4rem 4rem;
        box-shadow: 0 4rem 0 0 var(--color-tertiary);
        z-index: -1;
    }

    footer button{
        display: none;
    }

}

/*HOME---------------------------------------------------------------------------------------------*/

#home1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    min-height: 100vh;
    flex-direction: column;
    padding: 0 5rem;
}

.draggable{
    user-select: none;
    cursor: var(--cursor-grab);
    filter: drop-shadow(0.5rem 0.5rem 1rem rgba(32, 52, 62, 0.3));
    width: 12rem;
    border: 0.8rem solid var(--color-white);
    border-bottom: 3.5rem solid var(--color-white);
    transition: all 100ms ease;
    z-index: 1;
}

.draggable:active{
    cursor: var(--cursor-grabbing);
}

.draggable:nth-child(1) { transform: rotate(-2deg); }
.draggable:nth-child(2) { transform: rotate(3deg); }

.draggable:nth-child(1):hover { transform: rotate(-6deg); }
.draggable:nth-child(2):hover { transform: rotate(7deg); }

#home1 h1{
    font-size: clamp(3rem, 6vw, 7rem);
    line-height: 1.1;
    display: block;
    max-width: 150rem;
    text-align: center;
}

#home1 span{
    color: var(--color-tertiary);
    display: inline;
}

#home1 div:first-child{
    margin-top: 0rem;
    margin-bottom: -1rem;
}

#home1 a img:last-of-type{
    width: 5rem;
    transform: rotate(90deg);
}

#home2 p{
    max-width: 50rem;
    padding-right: 30%;
}

#home2{
    max-width: 80rem;
    padding: 2rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#home2 img{
    filter: brightness(0) saturate(100%) invert(13%) sepia(54%) saturate(428%) hue-rotate(155deg) brightness(101%) contrast(88%);
    height: 1ex;
    border-width: 1rem;
}

#home3{
    padding: 2rem;
    margin-top: 5rem;
    max-width: 80rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#home3 h2{
    font-size: 3rem;
    text-align: right;
}

#home3>div{
    max-width: 80rem;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    #home1 a img:last-of-type{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .draggable{
        width: 8rem;
    }

    #home1{
        padding: 0 2rem;
    }

    .draggable:nth-child(1) { transform: rotate(-4deg); align-self: flex-start;}
    .draggable:nth-child(2) { transform: rotate(5deg); align-self: flex-end;}

    .draggable{
        border: 0.7rem solid;
        border-bottom: 2.7rem solid;
        pointer-events: none;
    }

    #home1 div:first-child{
        display: flex;
        height: 15rem;
        margin-bottom: 1rem;
    }

    #home2 p{
        font-size: 1rem;
        padding: 0;
        text-align: center;
    }

    #home2{
        margin-top: 0;
    }

    #home3{
        margin-top: 2rem;
    }

    #home3 h2{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    html, body {
        overscroll-behavior-y: contain;
        touch-action: pan-y;
    }
}


/*PORTFOLIO------------------------------------------------------------------------------------*/

.design main{
    max-width: 70rem;
    margin: auto;
    padding: 2rem;
}

.portfolio{
    list-style: none;
    padding: 0;
}

.portfolio li{
    margin-bottom: 1rem;
    background-color: var(--color-tertiary);
    border-radius: 2rem;
    height: fit-content;
    border: var(--color-tertiary) 0.2rem solid;
    position: relative;
}

.portfolio article{
    display: flex;
    border-radius: 1.85rem;
    align-items: center;
    background-color: var(--color-primary);
    transition: all 200ms ease;
    flex-wrap: wrap;
    width:100%;
    z-index:1;
}

.portfolio img{
    width: 10rem;
    border-radius: 1.85rem;
    border: var(--color-tertiary) 0.2rem solid;
    filter: none;
}

.portfolio a > img{
    border: none;
}

.portfolio h1{
    font-size: 3rem;
    margin: 0.5rem 0;
}

.portfolio p{
    margin-top: 0;
}

.portfolio a{
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
}

.portfolio div{
    margin-left: 2rem;
}

@media only screen and (min-width: 768px) {
    .portfolio li:hover article {
        width: 90%;
        transition: all 200ms ease;
        right: 0;
    }

    .portfolio img{
            margin: -0.1rem;
    }
}

.portfolio li a>img{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 10rem;
}

@media only screen and (max-width: 768px) {
    .design main{
        margin-top:0;
    }

    .portfolio{
        max-width: 25rem;
        margin: auto;
    }

    .portfolio h1{
        font-size: 2rem;
    }

    .portfolio img{
        width: 100%;
        border-radius: 0.8rem;
        border: none;
        margin-bottom: 1rem;
    }

    .portfolio article{
        background-color: var(--color-tertiary);
        color: var(--color-on-tertiary);
        border-radius: 1rem;
        padding: 0.2rem;
    }

    .portfolio a>img{
        display: none;
    }

    .portfolio li{
        border: none;
        background-color: var(--color-secondary);
        margin-bottom: 2rem;
    }

    .portfolio .label{
        margin-bottom: -0.5rem;
    }

    .portfolio div{
        margin: 0rem 1.5rem 1rem 1.5rem;
    }
}

/*ARCHIVE------------------------------------------------------------------------------------*/

.archive main{
    max-width: 70rem;
    margin: auto;
    padding: 2rem;
}

.archive main > div{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.archive h1{
    display: inline;
}

@media only screen and (max-width: 768px) {
    .archive main{
        max-width: 70rem;
        margin: auto;
        padding: 1rem;
    }

    .archive main > div{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

/* PORTFOLIO DETAIL ----------------------------------------------------------------- */

.artbyant, .voices, .daysofdesign, .ricetta{
    main{
        max-width: 70rem;
        margin: auto;
        padding: 2rem;
    }
}

#detail1{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 70rem;
    margin: 2rem auto;
}

#detail1 h1{
    font-size: 3rem;
    margin: 0;
    display: flex;
    align-items: center;
}

#detail1 div{
    margin-right: 2rem;
}

#detail1 p{
    max-width: 20rem;
}

#detail1>p{
    max-width: 40rem;
}

.button-back{
    border: none;
    transform: scaleX(-1);
    transition: all 200ms ease;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
}

.button-back img{
    width: 2.5rem;
}

.button-back:hover{
    transform: translate(-1rem, 0) scaleX(-1) scale(1.2);
}

@media only screen and (max-width: 768px) {

    .artbyant, .voices, .daysofdesign, .ricetta{
    
        main{
            padding: 1rem;
        }
    }
    
    #detail1 button{
        margin-left: -1rem;
    }

    #detail1{
        flex-direction: column;
    }
}

/* ABOUT------------------------------------------------------------------------------------- */

#about1> img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    transition: all 150ms ease;
}

#about1> img:hover{
    border-radius: 15%;
}

#about1 h1{
    font-size: 6rem;
    margin: 0;
}

.about main{
    max-width: 70rem;
    margin: auto;
    padding: 1.5rem;
    padding-top: 2rem;
    font-size: 1.2rem;
}

#about1 div{
    display: inline-block;
    margin-left: 3rem;
}

#about1 div img{
    width:2rem;
    margin-bottom: 1rem;
}

#about1{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-flow: row wrap;
}

#about1 p{
    max-width: 50rem;
    margin: 0;
}

#aboutp1, #aboutp2, #aboutp3{
    text-decoration: underline;
    text-decoration-color: var(--color-tertiary);
    text-decoration-thickness: 0.2rem;
    transition: 200ms;
}

#aboutp1:hover, #aboutp2:hover, #aboutp3:hover{
    text-decoration-color: var(--color-on-primary);
}

.custom-cursor {
    width: 10rem;
    height: 10rem;
    background: no-repeat center;
    background-size: contain;
    border-radius: 1rem;
    position: fixed;
    pointer-events: none;
    transform: translate(-30%, 10%);
    opacity: 0;
    transition: opacity 0.2s ease;
}

#about2 p, #about4 p{
    margin: 4rem 0;
}

.highlightP{
    font-size: 1.5rem;
}

#about3 p{
    font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
    #about3{
        border-left: var(--color-tertiary) 0.2rem solid;
        padding-left: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    #about1> img{
        width: 7rem;
        height: 7rem;
    }

    #about1{
        flex-direction: column;
        align-items: flex-start;
    }

    #about1 div img{
        width: 1.5rem;
        margin: 0.5rem;
        margin-top: 1rem;
    }

    #about1 h1{
        font-size: 4rem;
        display: flex;
        align-items: center;
    }

    .highlightP{
        font-size: 1.4rem;
    }

    #about1 div{
        margin-left: 0;
        justify-content: left;
    }

    #about1 p{
        font-size: 1.1rem;
    }

    #aboutp1, #aboutp2, #aboutp3{
        text-decoration: none;
    }

    #about2 p{
        margin: 2rem 0;
        font-size: 1.3rem;
    }

    #about3 p{
        font-size: 1rem;
    }

    #about4 p{
        font-size: 1.3rem;
    }
}

/*CONTACT-------------------------------------------------------------------------------------------------*/

.contact main{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 2rem;
}

.contact main div{
    width: 30rem;
}

.contact main ul{
    list-style: none;
    padding: 0;
}

form{
    font-size: 1.1rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

form label{
    cursor: var(--cursor-text);
}

input, textarea{
    width: 100%;
    border: none;
    border-bottom: 0.2rem solid var(--color-tertiary);
    background: none;
    font-family: "Inter", serif;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    margin-top: 0.5rem;
    resize: vertical;
    overflow: hidden;
    min-height: 2rem;
    max-height: 15rem;
    transition: all 200ms ease;
    color:var(--color-on-primary);
    cursor: var(--cursor-text);
}

input:focus, textarea:focus{
    outline: none;
    border-bottom: 0.2rem solid var(--color-on-primary);
}

.contact form button{
    margin: 0;
    align-self: flex-end;
}

.label{
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom:-1rem;
    margin-top: 1.5rem;
    opacity: 80%;
}

.bevestiging{
    color: var(--color-on-primary);
    display: none;
    width: 35rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fadeIn 0.6s;
}

@media only screen and (max-width: 768px) {
    .contact main{
        padding: 0 1.5rem;
    }

    form{
        margin: 0rem;
    }
    .contact section{
        display: none;
    }

    .contact h1{
        max-width: 80%;
    }

    .bevestiging{
        align-self: flex-start;
        justify-content: left;
        text-align: left;
    }
}

/* TOS ----------------------------------------------------------------- */

.tos main{
    margin: auto;
    max-width: 50rem;
    padding: 2rem;
}

/* 404 ----------------------------------------------------------------- */

.error404 main h1{
    font-size: 10rem;
    margin: 0;
    text-align: center;
}

.error404 main p{
    max-width: 40rem;
    margin: 2rem;
    text-align: center;
}

.error404 main{
    display: flex;
    justify-content: center;
}

.error-mobile div{
    border-radius: 2rem;
    overflow: hidden;
    max-width: 90vw;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .error-desktop{
        display: none;
    }

    .error-mobile{
        display: block;
        margin-top: 5rem;
    }
}

@media only screen and (min-width: 768px) {
    .error404 canvas {
        margin: 1rem;
        border-radius: 2rem;
        max-height: 85vh;
        border: var(--color-tertiary) 0.2rem solid;
    }

    .error404 main div{
        position: absolute;
        margin-top: 2rem;
    }

    .error-mobile{
        display: none;
    }
}