#detail2{
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    border-radius: 1rem;
}

p{
    max-width: 40rem;
}

#detail2 img{
    max-width: 90%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    #detail2 img{
        max-width: 50rem;
    }
}

#detail3, #detail4{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    justify-content: space-around;
}

#detail3 img{
    max-width: 20rem;
    border-radius: 1rem;
}

@media only screen and (max-width: 768px) {
    #detail3, #detail4{
        flex-wrap: wrap;
    }

    #detail3 img{
        max-width: 90%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: -2rem;
    }
}

.trigger-button {
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.trigger-button p{
    position: absolute;
    text-align: center;
    text-decoration: underline;
}

.trigger-button img{
    width: 10rem;
    opacity: .2;
    background-color: #6C837B;
    border-radius: 1.5rem;
}

.trigger-button:hover {
    text-decoration: underline;
}

.lightbox {
    opacity: 0;
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;
}

.lightbox.active {
    display: flex;
    opacity: 1;
}

.lightbox.active .lightbox-content {
    animation: fadeIn 0.6s ease;
}


.lightbox-content {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    position: relative;
    z-index: 2;
    max-width: 90%;
    max-height: 90%;
}

.lightbox iframe {
    height: 90vh;
    aspect-ratio: 3/5;
    border: none;
}

.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .trigger-button{
        display: none;
    }
    
    .lightbox{
        display: none;
    }
}