#detail2{
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    margin-left: -2rem;
    margin-right: -2rem;
}

#detail2 img{
    max-width: 90%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    #detail2 img{
        max-width: 50rem;
    }
}